{% extends "base.html" %}

{% block extrahead %}
  <meta name="keywords" content="curl bash, installation scripts, docker, homebrew, security, script analysis">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} - {{ config.site_name }}">
  <meta property="og:description" content="{{ config.site_description }}">
  <meta property="og:image" content="https://pforret.github.io/curlpipebash/images/curlpipebash.jpg">
  <meta property="og:url" content="{{ page.canonical_url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }} - {{ config.site_name }}">
  <meta name="twitter:description" content="{{ config.site_description }}">
  <meta name="twitter:image" content="https://pforret.github.io/curlpipebash/images/curlpipebash.jpg">
{% endblock %}
